
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		<header>
			<section class="hero">
				<div class="texture-overlay"></div>
				<div class="container">
					<div class="row nav-wrapper">
						<div class="col-md-6 col-sm-6 col-xs-6 text-left">
								<%= link_to live_path do %>
									<%= image_tag "climbr_logo.png", class: "img-box", alt: "Climbr Logo" %>
								<% end %>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 text-right navicon social-icons clearfix">
							<a href="https://twitter.com/climbrapp"><i class="fa fa-twitter"></i></a>
							<a href="https://facebook.com/climbrapp"><i class="fa fa-facebook"></i></a>
							<a href="https://www.instagram.com/climbrapp/"><i class="fa fa-instagram"></i>
						</a>
						</div>
					</div>
					<div class="row hero-content">
						<div class="col-md-12">
							<h1 class="animated fadeInDown">Indoor Climbing For Less!</h1>
							<div class="sub-wrapper">
							<p class="sub-headline2">Climbr enables you to explore a diverse network of indoor climbing gyms for up to 50% off daily rates.</p>
							</div>

							<!-- <div data-embed_type="product" data-shop="climberscard.myshopify.com" data-product_name="ClimbCard" data-product_handle="gift-card" data-has_image="false" data-display_size="compact" data-redirect_to="checkout" data-buy_button_text="BUY NOW" data-buy_button_out_of_stock_text="Out of Stock" data-buy_button_product_unavailable_text="Unavailable" data-button_background_color="23ce6b" data-button_text_color="ffffff" data-product_modal="false" data-product_title_color="000000" data-next_page_button_text="Next page"></div>
							<script type="text/javascript">
							document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
							</script>
							<noscript><a href="https://climberscard.myshopify.com/cart/26320492102:1" target="_blank">Buy ClimbCard</a></noscript> -->
							
							<div class="buy_wrapper">
								<a class="buy_now" href="https://climbr.myshopify.com/cart/27234401094:1" target="_blank">BUY NOW</a>
							</div>

						</div>
					</div>
				</div>
			</section>
		</header>


<!-- 		<section class="benefits-list">
			<div class="container">
				<h1 class="section-title">Member Benefits</h1>
				<div class="row">
						
						<div class="col-md-3 col-sm-6 feature-1 wp2">
							<div class="text-center">
								<div class="feature-icon">
									<i class="fa fa-heart-o"></i>
								</div>
							</div>
							<div class="feature-content text-center">
								<h5>Vast Network of Gyms</h5>
								<p>ClimbCard gives you access to an amazing network of climbing gyms, each with their own unique experience.</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 feature-2 wp2 delay-05s">
							<div class="text-center">
								<div class="feature-icon">
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							<div class="feature-content text-center">
								<h5>No Restrictions</h5>
								<p>We know how much you love to climb which is why there are no restrictions with your membership.</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 feature-3 wp2 delay-1s">
							<div class="text-center">
								<div class="feature-icon">
									<i class="fa fa-credit-card"></i>
								</div>
							</div>
							<div class="feature-content text-center">
								<h5>One Flat Fee</h5>
								<p>Our membership is both flexible and affordable. Pay month-to-month and cancel anytime.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 feature-4 wp2 delay-15s">
							<div class="text-center">
								<div class="feature-icon">
									<i class="fa fa-medkit"></i>
								</div>
							</div>
							<div class="feature-content text-center">
								<h5>Health &amp; Wellness</h5>
								<p>Climbing is a full body workout that builds functional strength and endurance. Do you have what it takes to make it to the top?</p>
							</div>
						</div>
				</div> 
			</div>
		</section> -->


		<section class="showcase">
			<div class="iphone-wallet">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-push-6">
							<h1>How it Works</h1>
							

							<p>We’ve partnered with 12 of Toronto’s best indoor climbing gyms to offer you exclusive discounts on daily rates.
							</p>
							
							<div class="steps clearfix">
								<div class="step">
									<span class="fa-stack fa-1x">
	  							<i class="fa fa-circle-thin fa-stack-2x"></i>
	  							<strong class="fa-stack-1x">1</strong>
									</span>
									<p class="instruction">Select an amount to get started: <span>$50</span>, <span>$100</span> or <span>$150<span></p>
								</div>
								
								<div class="step">
									<span class="fa-stack fa-1x">
	  							<i class="fa fa-circle-thin fa-stack-2x"></i>
	  							<strong class="fa-stack-1x">2</strong>
									</span>
									<p class="instruction">Your Climbr will arrive by e-mail</p>
								</div>
								
								<div class="step">
									<span class="fa-stack fa-1x">
	  							<i class="fa fa-circle-thin fa-stack-2x"></i>
	  							<strong class="fa-stack-1x">3</strong>
									</span>
									<p class="instruction">Present at participating gyms</p>
								</div>

								<div class="step">
									<span class="fa-stack fa-1x">
	  							<i class="fa fa-circle-thin fa-stack-2x"></i>
	  							<strong class="fa-stack-1x">4</strong>
									</span>
									<p class="instruction">Start Climbing!</p>
								</div>

							</div>
							
							<div class="os-btn-group clearfix">
								<div class="buy_wrapper">
								<a class="buy_now" href="https://climbr.myshopify.com/cart/27234401094:1" target="_blank">BUY NOW</a>
							</div>
							</div>

						</div>
						<div class="col-md-6 col-md-pull-6">
							<div class="iphone-wrapper text-center">
								<%= image_tag "climbr_iphone.png", class: "wp3 wallet-card", alt: "Climbr Wallet iOS" %>
								</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>


				<section class="features-intro">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 nopadding features-intro-img">
						<div class="features-bg">
							<div class="texture-overlay"></div>
						</div>
					</div>
					<div class="col-md-6 nopadding">
						<div class="features-slider">
								<ul class="slides" id="featuresSlider">
									<li>
										<h1>Is Rock Climbing a Good Cardio Workout?</h1>
										<p>"If you find yourself bored by the typical gym workouts or jogging around the block, you may want to try a different approach to physical fitness. Rock climbing is an increasingly popular sport that provides a total-body workout without the monotony of pacing on a treadmill."</p>
										<cite class="author">Jill Lee, Livestrong</cite>
											<div class="content-logo">
												<%= image_tag "live_strong.png", class: "custom-responsive", alt: "Livestrong" %>
											</div>
									</li>
									<li>
										<h1>How Rock Climbing Does Your Mind And Body Good</h1>
										<p>"Although not often thought of as a common form of cardio, ascending walls is a sure way to get your heart pumping, similar to the way climbing stairs or jogging does. A one-hour climb session can burn well over 700 calories."</p>
										<cite class="author">Abigail Wise, The Huffington Post</cite>
										<div class="content-logo">
												<%= image_tag "huff_po.png", class: "custom-responsive", alt: "Huffington Post" %>
											</div>
									</li>
									<li>
										<h1>Is Indoor Rock Climbing A Good Workout?</h1>
										<p>"Hauling yourself up a wall will challenge your whole body—and what guy couldn't use a few Spider-Man moves in his repertoire? Indoor climbing is a great full-body workout for both strength and cardio."</p>
										<cite class="author">Men's Fitness Editors, Men's Fitness</cite>
										<div class="content-logo">
												<%= image_tag "mens_fitness_logo.png", class: "custom-responsive", alt: "Men's Fitness" %>
											</div>
									</li>
									<li>
										<h1>The Next Urban Sports Craze</h1>
										<p>"Indoor climbing could soon replace spin class as the urban professional’s sport of choice."</p>
										<cite class="author">Abe Streep, Outside</cite>
										<div class="content-logo">
												<%= image_tag "outside_logo.jpg", class: "custom-responsive", alt: "Outside" %>
											</div>
									</li>
								</ul>
						</div>
					</div>
				</div>
			</div>
		</section>




		<section class="faq">
			<div class="container">
				<h1 class="section-title">We Thought You Might Ask</h1>
				<div class="row">
					<div class="col-md-6">
						<div class="faq-block">
						<h5>Are there any restrictions as to when I can climb?</h5>
						<p>As a Climbr user you can take advantage of our preferred pricing anytime. Simply visit any of our partner gyms, present your card and start climbing!</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="faq-block">
						<h5>Can I boulder, top-rope and lead climb?</h5>
						<p>Absolutely! All of the the Climbr partner gyms have a variety of walls sure to challenge climbers of every skill-set.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="faq-block">
						<h5>Does this include rental equipment?</h5>
						<p>No, rental equipment is not included. In order to get started we recommend buying a harness, climbing shoes and a chalk bag.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="faq-block">
						<h5>Does my Climbr expire?</h5>
						<p>No! Your Climbr will remain active as long as you have a balance.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="callToAction group">
			<div class="col-md-12">
			<h1 class="section-title text-center">Sign up for the latest Climbr news!</h1>
			<section class="user-subscribe">
				<div id="mc_embed_signup">
				<form action="//climbcard.us12.list-manage.com/subscribe/post?u=62b58dfeef74782cefec4dfcc&amp;id=894976712f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate text-center" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					
				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email">
				</div>
				<div class="mc-field-group">
					<input type="text" value="" name="PCODE" class="required postalCode form-control" id="mce-PCODE" placeholder="Postal Code">
				</div>

				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_62b58dfeef74782cefec4dfcc_894976712f" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="SIGN UP" name="notify_me" id="mc-embedded-subscribe" class="button submit-to-mailchimp"></div>
				    </div>
				    	<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				</form>
				</div>
			</section>
			</div>
		</section> <!--callToAction-->
		

		
		<!-- Footer -->

		<%= render "layouts/partials/live_footer" %>
		
		<!-- / Footer -->


		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
